<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="chef-boilerplate" content="fe boilerplate project of chef">
  <!-- title -->
  <!-- meta -->
  <link rel="shortcut icon" href="<%= __HOST_CDN__ %>ico/favicon.ico">
</head>
<body>
  <div id="root" class="app-root"></div>
  <%= htmlWebpackPlugin.files.webpackManifest %>
  <!-- initialState -->
  <!-- isPreload -->
</body>
</html>
